@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --background-overlay-color: #FFFFFF;
    --background-search-color: rgba(255, 255, 255, 0.816);
    --primary-color: #F0C900;
    --font-family-base: "Inter", sans-serif;
    --grey-color: #7D7D7D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-center{
    justify-content: center;
}
.responsive{
    width: 100%;
}
a{
    text-decoration: none;
}